<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">TeamTow</a>
                <a class="ace-icon glyphicon glyphicon-road"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li>
                        <a className="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="#"><span className="glyphicon glyphicon-user"></span> Profile</a>
                    </li>
                    <li>
                        <a href="/users/sign-out"><span className="glyphicon glyphicon-log-in"></span> Sign Out</a>
                    </li>
                    <li>
                        <a className="btn btn-success btn-md truckbtn" href="/trucks/signup-signin">About The App</a>
                    </li>

               
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
