<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">TeamTow</a>
                <a class="ace-icon glyphicon glyphicon-road"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a className="page-scroll" href="/users/signup-signin">Sign In</a>
                    </li>
                    <li>
                        <a className="page-scroll" href="/users/signup">New User</a>
                    </li>
                    <li>
                        <a className="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="#"><span className="glyphicon glyphicon-user"></span> Profile</a>
                    </li>
                    <li>
                        <a href="/users/sign-out"><span className="glyphicon glyphicon-log-in"></span> Sign Out</a>
                    </li>
                    <li>
                        <a className="btn btn-success btn-md truckbtn" href="/trucks/signup-signin">TOW TRUCK</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">

                            <li>

                                <div class="row">
                                    <div class="col-md-12">
                                        <form role="form" action="/users/sign-up" method="POST" className="registration-form">
                                            <div className="form-group">
                                                <label className="sr-only" for="username">Username</label>
                                                <input type="text" name="username" placeholder="Username..." className="form-email form-control" id="form-username" />
                                            </div>
                                            <div className="form-group">
                                                <label className="sr-only" for="firstName">FirstName</label>
                                                <input type="text" name="firstName" placeholder="First Name..." className="form-email form-control" id="form-firstName" />
                                            </div>
                                            <div className="form-group">
                                                <label className="sr-only" for="lastName">lastName</label>
                                                <input type="text" name="lastName" placeholder="Last Name..." className="form-email form-control" id="form-lastName" />
                                            </div>
                                            <div className="form-group">
                                                <label className="sr-only" for="email">Email</label>
                                                <input type="text" name="email" placeholder="Email..." className="form-email form-control" id="form-email" />
                                            </div>
                                            <div className="form-group">
                                                <label className="sr-only" for="password">Password</label>
                                                <input type="password" name="password" placeholder="Password..." className="form-password form-control" id="form-password" />
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
