<!-- Profile Sidebar -->

  <div class="profile-sidebar">
    <!-- SIDEBAR USERPIC -->
    <div class="profile-userpic">
      <img class="img-responsive img-avatar" src="/assets/img/user-100x100.jpg" alt="" />
    </div>
    <!-- END SIDEBAR USERPIC -->
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
      <div class="profile-usertitle-name">
        <h4 class="user-name">{{username}}</h4>
      </div>
      <div class="profile-usertitle-job">
        User
      </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR BUTTONS -->
    <div class="profile-userbuttons">
      <!-- <button type="button" class="btn btn-success btn-sm">Follow</button> -->
      <button type="submit" class="btn btn-danger btn-sm" id="customerRequest">Press For Help</button>
      
    </div>
    <!-- END SIDEBAR BUTTONS -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
      <ul class="nav">
        <li class="active">
        <!-- Trigger the modal  -->
          <a href="#" data-toggle="modal" data-target="#myModal">
          <i class="glyphicon glyphicon-home"></i>
          Overview </a>

          <script>
            $.get('/loggedinusers', function(data){
              //console.log(data)
              $('#user-overview').append('<tr class="text-center"><td class="user-name">' + data[0].username + '</td>' + '<td>' + data[0].email + '</td>' + '<td>' + data[0].phone + '</td></tr>')          
            })
          </script>
        
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Profile</h4>
              </div>
              <div class="modal-body">
                <table id="simple-table" class="table  table-bordered table-hover">
                      <thead>
                        <tr>
                          <th class="text-center">Name</th>
                          <th class="text-center">Email</th>
                          <th class="text-center">Phone Number</th>
                        </tr>  
                      </thead>
                      <tbody id="user-overview">
                        <!--  -->
                      </tbody>
                </table>      

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
        </li>

        <li>
          <a href="#">
          <i class="glyphicon glyphicon-user"></i>
          Account Settings </a>
        </li>
        <li>
          <a href="#" target="_blank">
          <i class="glyphicon glyphicon-ok"></i>
          Tasks </a>
        </li>
        <li>
          <a href="#">
          <i class="glyphicon glyphicon-flag"></i>
          Help </a>
        </li>
      </ul>
    </div>
    <!-- END MENU -->
  </div>

