<!-- Profile Sidebar -->

  <div class="profile-sidebar">
    <!-- SIDEBAR USERPIC -->
    <div class="profile-userpic">
      <img class="img-responsive img-avatar" src="/assets/img/truck-logo.jpg" class="img-responsive" alt="">
    </div>
    <!-- END SIDEBAR USERPIC -->
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
      <div class="profile-usertitle-name">
        <h3 style="text-transform: capitalize;">{{username}}</h3>
      </div>
      <div class="profile-usertitle-job">
        <h4>Track Driver</h4>
      </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR BUTTONS -->
    <div class="profile-userbuttons">
      <button type="button" class="btn btn-success btn-sm">Ready To Help</button>
     
      
    </div>
    <!-- END SIDEBAR BUTTONS -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
      <ul class="nav">
        <li class="active">
          <a href="#">
          <i class="glyphicon glyphicon-home"></i>
          Overview </a>
        </li>
        <li>
          <a href="#">
          <i class="glyphicon glyphicon-user"></i>
          Account Settings </a>
        </li>
        <li>
          <a href="#" target="_blank">
          <i class="glyphicon glyphicon-ok"></i>
          Complited Jobs </a>
        </li>
        <li>
          <a href="#">
          <i class="glyphicon glyphicon-flag"></i>
          Help </a>
        </li>
      </ul>
    </div>
    <!-- END MENU -->
  </div>

