<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/background-video.css" type="text/css" />
		<script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
		<link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />
		<title>Tow Team</title>
	</head>
	<body>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">common grounds.</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">about us</a>
                    </li>
                    <li>
                        <a href="#services">product</a>
                    </li>
                    <li>
                        <a href="checkout.html">checkout</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /.container-fluid -->
    </nav>
		{{{ body }}}
		<script src="/assets/js/jquery-1.11.1.min.js"></script>
		<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="/assets/js/scripts.js"></script>
  <script src="/socket.io/socket.io.js"></script>

	<script>
  //     var socket = io('//'+document.location.hostname+':'+document.location.port);
  // socket.on('news', function (data) {
  //   console.log("is this running:" + data);
  //   socket.emit('my other event', { my: 'data' });
  // });
</script>
	</body>
</HTML>
