<!--Video Section-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="container-fluid">
    <div class="embed-responsive embed-responsive-16by9">
        <div id="background">
	         <div id="login_header">
							<p>
								{{#unless logged_in}}
									<a href="/users/signup-signin">Sign In or Sign Up</a>
								{{/unless}}

								{{#if logged_in}}

									<div>
										<p>Welcome {{email}}! </p>
										<p>You are user {{username}}.</p>
										<p id='username'>{{username}}</p>
									</div>

							<script>

									function error(err) {
    									console.log('ERROR(' + err.code + '): ' + err.message);
									};

							var options = {
   								 enableHighAccuracy: false,
   								 timeout: 1000,
   								 maximumAge: 0
								};



						function success(pos) {
    					var crd = pos.coords;
    					myLatLng = { lat: crd.latitude, lng: crd.longitude };
    					console.log(myLatLng);
    					var username = document.getElementById('username').textContent;
    					var currentLocation = window.location.origin;
    					var userNameCoords = {username: username, coords: myLatLng};
    					$.post('/geolocator', userNameCoords, function(req,res) {
    						console.log(res);
    					});
							};

				document.addEventListener('DOMContentLoaded', function position() {
   				 navigator.geolocation.watchPosition(success, error, options);
				});

									</script>

								{{/if}}
							</p>
						</div>
				</div>
    </div>          
</div>

{{#unless logged_in}}
  <p>
    You must login to add a person.
  </p>
{{/unless}}


