<!--Video Section-->
<div class="container-fluid">
    <div class="embed-responsive embed-responsive-16by9">
        <div id="background">
	         <div id="login_header">
							<p>
								{{#unless logged_in}}
									<a href="/users/signup-signin">Sign In or Sign Up NOOOOOO</a>
								{{/unless}}

								{{#if logged_in}}
									<div>
										<p>Welcome {{email}}! </p>
										<p>You are userrrrrrr {{username}}.</p>
									</div>
								{{/if}}
							</p>
						</div>
				</div>
    </div>          
</div>

{{#unless logged_in}}
  <p>
    You must login to add a person.
  </p>

{{/unless}}



