<form id="signUpForm" action="/create", method="POST">
    <div class="form-group">
      <label class="sr-only" for="userName">New First Name</label>
      <input type="text" class="form-control" id="userName" name="name" placeholder="First Name" required>
    </div>

    <div class="form-group"><br>
      <label class="sr-only" for="emailAddress">Email Address</label>
      <input type="email" class="form-control" id="emailAddress" name="email" placeholder="Email Address" required>
    </div>

    <div class="form-group">
      <label class="sr-only" for="newPass">New Password</label>
      <input type="password" class="form-control" id="newPass" name="password" placeholder="New Password" required>
    </div>

    <div class="form-group">
      <label class="sr-only" for="newPass">Confirm Password</label>
      <input type="password" class="form-control" id="newPass" name="confirmPassword" type='password' placeholder="New Password" required>
    </div>

    <div>
      <button type="submit">Sign Up</button>
    </div>

  </form>