html, body{ height: 100%; margin: 0; padding: 0;}
#background {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/city-collage-1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.container-fluid{margin: 0; padding: 0; height: 100%;}
.embed-responsive{height: 100%;}
#login_header {
  z-index: 1;
  position: relative;
  width: 50%;
  top: 25%;
  text-align: center;
  font-size: 23px;
  font-size: 2.5vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 11px;
  padding: 1em;
  opacity: 0.9;
  overflow: auto;
}

#login_header div {
	font-size: 1.5vw;
}