body {
<<<<<<< HEAD
	margin: 0;
}

.container {
	margin: 0;
	width: 100%;
	border: none;
	padding: 0;
}

header {
	background-color: black;
	color: silver;
	border-bottom-style: solid;
	border-bottom: 25px;
	border-bottom-color: red;
	padding: 10px;
}

.container-fluid {
	margin: 0;
	width: 100%;
	border: none;
	padding: 0;
}

.wallpaper {
	background-image: url(stranded-car.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: scroll;
	width: 100%;
	/*margin: 87px 0 0 0;*/
	border: none;
	height: 800px;
}

footer {
	height: 50px;
	background-color: black;
	color: silver;
	padding: 25px;
	text-align: center;
	line-height: 50px;
=======
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/assets/img/lego_tow.jpg');
  
  background-repeat: no-repeat;
  background-size:cover;
  /*background-position: center center;*/

}

.navbar-ex1-collapse {
	float:right;
>>>>>>> master
}

a {
  color: #00B7FF;
}

.thumbnail img{        
   max-height: 147px;
<<<<<<< HEAD
}
=======
}

>>>>>>> master
