    <div class="intro-header">
        <div class="container">
            <div class="col-md-6">
            <!-- First Featurette -->
                <div class="featurette" id="featurette-about">
                    <div class="intro-text">
                        <span class="name">Long way to go <br>
                        <strong>Short time to get there</strong>
                        <br>
                         Always on, lways available
                        </span>

                            <br>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="home-page-signup">
                            <form role="form" action="/users/sign-up" method="POST" className="registration-form">
                                <div className="form-group">
                                    <input type="text" name="username" placeholder="Username" className="form-email form-control" id="form-username" />
                                </div>
                                <div className="form-group">
                                    <input type="text" name="firstName" placeholder="First Name" className="form-email form-control" id="form-firstName" />
                                </div>
                                <div className="form-group">

                                    <input type="text" name="lastName" placeholder="Last Name" className="form-email form-control" id="form-lastName" />
                                </div>
                                <div className="form-group">

                                    <input type="text" name="email" placeholder="Email" className="form-email form-control" id="form-email" />
                                </div>
                                <div className="form-group">
                                    <input type="password" name="password" placeholder="Password" className="form-password form-control" id="form-password" />
                                </div>
                                <div class="form-group">
                                     <button type="submit" class="btn btn-primary btn-block">Sign Up </button>
                                </div>

                                <h4>or <a href="#">sign up</a> with your driver's account.</h4>
                             </form>
                    </div>
            </div>
        </div>
    </div> 
<!-- First Banner -->
    <div class="col-lg-12" id="bannersize">
        <div class="tow-truck-banner">
            <img id="towimage" src="/assets/img/tow-truck-banner1.jpg" alt="Banner Image"/>
            </div>
        </div>
    </div>
<!-- Introduction -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <hr class="section-heading-spacer"></hr>
                    <div class="clearfix"></div>
                    <div class="section-heading">
                    <strong>w</strong>ho are we
                    </div>
                    <div class="section-introduction">
                    Car broken down?
                    <br>
                    Our app lets you locate a tow truck at the touch of a button.
                    <br>

                    You and the tow truck can see each other's position on the map. 
                    <br>
                    No need to give directions.
                    </div>
                </div>
                <div class="col-lg-3">
                    <hr class="section-heading-spacer"></hr>
                    <div class="clearfix"></div>
                    <div class="section-heading">
                    <strong>h</strong>ow it works
                    </div>
                    <div class="section-introduction">
                    Tap a button to see nearby tow trucks.
                    <br>
                    Choose the one you want.
                    <br>
                    When a tow truck responds to your request, you can see your driver's photo and details.
                    <br>
                    Track your driver's arrival on the map.
                    </div>
                </div>
                <div class="col-lg-3">
                    <hr class="section-heading-spacer"></hr>
                    <div class="clearfix"></div>
                    <div class="section-heading">
                    <strong>f</strong>rontend 
                    </div>
                    <div class="section-introduction">
                        <ul>
                            <li>REACT.JS</li>
                            <li>HTML/CSS</li>
                            <li>Bootstrap</li>
                            <li>Javascript</li>
                            <li>AJAX</li>
                            <li>RESTFUL API</li>
                            <li>Mapbox API</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <hr class="section-heading-spacer"></hr>
                    <div class="clearfix"></div>
                    <div class="section-heading">
                    <strong>b</strong>ackend
                    </div>
                    <div class="section-introduction">
                        <ul>
                            <li>Node.JS</li>
                            <li>Express.JS</li>
                            <li>MVC pattern</li>
                            <li>MongoDB</li>
                            <li>User Authorization</li>
                            <li>Bcrypt.JS</li>
                            <li>Handlebars</li>
                            <li>Mapbox API</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
