<div class="container">
    <hr>

{{!--     {{/if}} --}}
    <!-- /.row -->
    {{> footer}}

    <hr>     
</div>
{{!-- {{/if}} --}}

{{!-- {{#unless logged_in}}
<p>
  You must login to see this page.
</p>
{{/unless}} --}}


